/**********************************************************************/
/***********************홈짐 게시판 관련 css 정리 **************************/
/**********************************************************************/

/*===================홈짐 글쓰기 / 글수정 게시판========================*/

/*체크박스 CSS*/
.btn-group-toggle>.btn input[type=checkbox]
, .btn-group-toggle>.btn input[type=radio]
, .btn-group-toggle>.btn-group>.btn input[type=checkbox]
, .btn-group-toggle>.btn-group>.btn input[type=radio] {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.intro {
	background-image: url("/resources/assets/images/gym/homegym-image-01.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	padding: 200px 0 80px 0;
	z-index: 2;
	overflow: hidden;
	text-align: center;
}

.intro.overlay::before {
	background-color: #ffffff;
	opacity: 0.1;
	z-index: -1;
}

.intro .intro-content {
	position: relative;
	float: none;
	padding: 0px;
}

.intro .intro-content .page-title {
	font-size: 40px;
	margin-bottom: 5px;
	color: #fff;
}

.intro .intro-content p {
	font-size: 14px;
	margin: 15px 0px 0px;
	color: #fff;
}

/* 체크박스 */
.home_options p {
	margin: 10px 5px;
}

.checkColor {
	background-color: #9ea9d8;
	border-color: #9ea9d8;
	color: white;
}

.btn-outline-secondary:hover {
	color: #6c757d;
	background-color: #ededf2;
	border-color: #ededf2;
}

.btn-outline-secondary {
	border-color: #dadae3;
}

/* 폰트 */
.font-general {
	color: black;
	font-size: 20px;
}

/* 파일이 없습니다 메시지 지우기 */
input[id='img_one'] {
  color: transparent;
}

input[id='img_upload'] {
  color: transparent;
}
/* 업로드 섬네일 이미지 css */

.uploadOneResult{
	width:100%;
	background-color: white;
}

.uploadOneResult ul{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadOneResult ul li{
	list-style: none;
	padding: 10px;
}

.uploadOneResult ul li img{
	width: 80px;
	heigh: 80px;
}
.uploadOneResult .btn {
	padding: 1px;
	margin: 0px;
	border-radius: .90erm;
	color: black;
	background-color: white;
	border-color: white;
	border: 0px;
}

.uploadResult{
	width:100%;
	background-color: white;
}

.uploadResult ul{
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}

.uploadResult ul li{
	list-style: none;
	padding: 10px;
}

.uploadResult ul li img{
	width: 80px;
	heigh: 80px;
}
.uploadResult .btn {
	padding: 1px;
	margin: 0px;
	border-radius: .90erm;
	color: black;
	background-color: white;
	border-color: white;
	border: 0px;
}


/* 주소 검색하기 버튼 */
#addrBtn{
	color: white;
	margin-top: 27px;
	width: 100px; 
	height: 55px;
	bottom: 20px;
	border: solid 1px;
	border-radius: 25px;
    background-color: #656f98;
    
}

/* 글 삭제&수정 버튼*/
#removeBoardBtn{
	color:white; 
	background-color:#bd4d3e;
	border-color:rgb(255, 151, 151);
	border-radius: 20px;
}

#updateBoardBtn{
	color:white; 
	background-color: #656f98;
	border-color:rgb(255, 151, 151);
	border-radius: 20px;
}


#updateBoardBtn::before{
	background-color: rgb(125, 120, 120);
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
#removeBoardBtn::before{
	background-color: rgb(125, 120, 120);
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
/*===================홈짐 리스트========================*/

.thumbnail .image {
	width: 200px;
	height: 200px;
}

/* 헤더에 가리는 부분 */
#hg-list-section{
	margin-top: 100px;
}

/* 글쓰기 버튼 */
#writeBtn{
	width: 150px;
	height: 50px;
	bottom: 20px;
	border: solid 1px;
	margin-top: 10px;
	border-radius: 20px;
    background-color: #656f98;
}

/*===================홈짐 상세보기========================*/

.blog-single p {
	font-size: 17px;
	line-height: 1.6;
	letter-spacing: -0.6px;
	margin: 16px 0;
	word-break: break-all;
}

.popular-feed-loop {
	width: 150px;
	height: 150px;
	border-radius: 70%;
	overflow: hidden
}

.trainner {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* 더보기 버튼 */
#re_plus {
	background-color: #9ea9d8;
	width: 150px;
	height: 50px;
	font-size: 20px;
	color: white;
	font-weight: bold;
	position: relative;
	margin-top: 30px;
}

/* 사이드 바 고정 */
.sidebar {
	position: sticky;
	top: 120px;
}
/* 사이드바 OO님의 홈짐 폰튼 */
#text-nickName{
	color: black;
	font-size: 24px;
	text-align: center;
}
/* 사이드바 주소 폰트 */
#text-addr{
	color: black; 
	font-size: 20px;
	text-align: center;
}
/* 사이드바 가격 폰트 */
#text-price{
	text-align: right;
	color: black;	
}

#detail-price {
	text-align: right; 
	color: black;
	font-size: 30px;
}

.btn-time {
	border-radius: 2rem;
	background-color: #9ea9d8;
	margin: 10px 0px;
}

.image-container{
	text-align: center;
}

.ic-child{
	width: 100%;
	padding-bottom: 20px;
	text-align: center;
}

.icon-tag{
	text-align: center;
	background-color: ffffff;
	color: black;
}

.icon-tag .fas{
	font-size: 40px;
}

/* 본문 글자 색 */

.detail-inner {
	color: black;
}

#manipulateBtn{
	text-align: right;
}

/*수정&삭제, 목록, 문의버튼, 예약버튼*/

#updateBtn, #showMsgContent, #noShowMsgContent{
	width: 350px;
    height: 50px;
    bottom: 20px;
    background-color: #656f98;
    color: white;
    border-radius: 20px;
} 

#listBtn, #reserveBtn{
	width: 350px;
    height: 50px;
    bottom: 20px;
    border: solid 1px;
    margin-top: 10px;
    border-radius: 20px;
}

#addReviewBtn{
	width: 100px;
	height: 40px;
	margin-top: 20px;
	border-radius: 18px;
    background-color: #656f98;
    color: white;
}


/* 리뷰 평점 별모양 출력 CSS */
.rating .rate_radio + label {
    position: relative;
    display: inline-block;
    margin-left: -4px;
    z-index: 10;
    width: 30px;
    height: 30px;
    background-image: url('/resources/assets/images/common/starrate.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    cursor: pointer;
    background-color: #f0f0f0;
}
.rating .rate_radio:checked + label {
    background-color: #ffc107;
}

.rating .rate_radio {
    position: relative;
    display: inline-block;
    z-index: 20;
    opacity: 0.001;
    width: 30px;
    height: 30px;
    background-color: #fff;
    cursor: pointer;
    vertical-align: top;
    display: none;
}

/* 모달창 수정&삭제 버튼 */
.modal-content {
	color: black;
}
#modalModBtn{
	width: 60px;
	height: 40px;
	border-radius: 18px;
    background-color: #656f98;
    color: white;
}

#modalRemoveBtn{
	width: 60px;
	height: 40px;
	border-radius: 18px;
    background-color: #bd4d3e;
    color: white;
}
#modalRegisterBtn{
	border: solid 1px;
	width: 60px;
	height: 40px;
	border-radius: 18px;
    background-color: #656f98;
    color: white;
}
#modalCloseBtn{
	border: solid 1px;
	width: 60px;
	height: 40px;
	border-radius: 18px;
}
/*===================홈짐 예약 페이지========================*/

/*라디오 버튼 CSS*/
.select {
   	padding: 15px 10px;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    height: 34px;
    width: 90px;
    border: 1px solid #333;
    line-height: 34px;
    text-align: center;
    font-weight:bold;
    font-size:13px;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}

.select label{
	display: block;
    margin-bottom: .5rem;
    color: #081828;
    font-size: 13px;
    font-weight: 500;
}

#reservationFormBtn{
	width: 130px;
	height: 50px;
	border: solid 1px;
	margin-top: 20px;
	border-radius: 20px;
    background-color: #656f98;
}

#reservationFormBtn::before{
	background-color: rgb(125, 120, 120);
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    content: "";
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: -1;
}

.contact-us .contact-info .single-info #icon {
	font-size: 35px;
    color: #5c6dbd;
    display: inline;
    margin-bottom: 20px;
}
/* 오른쪽 사이드바 안내*/
#rez-stop{
	font-size: 20px;
	color: black;
	text-align: center;
	margin-bottom: 15px;
}

#rez-stop-addr{
	color: black;
	text-align: center;
	margin-top: 15px;
}

#icon{
	width: 15px;
	height: 15px;
}
/* 오른쪽 사이드바 타임테이블*/
#rez-timetable{
	color: black;
	font-size: 25px;
	text-align: center;
}

#rez-timetable-date{
	text-align: center;
	color: black;
	font-size: 20px;
}

#rez-timetable-time{
	text-align: center;
	color: black;
}
/**********************************************************************/
/**********************************************************************/
/**********************************************************************/