.btnjo{
    background-color: #9ea9d8;
    width: 100px;
    height: 53px;
    border: none;
    color: white;
}
/*sidebar 크기 조정*/
.widget categories-widget {
    padding-right: 30px;
    padding-bottom: 30px;
    width: 276px;
    padding-left: 30px;
}
.bo{
    height: 30px;
    width: 15%;
}
.write001{
    width: 50px;
}


 
