<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="HomegymReviewDAO">

	<insert id="insert">
		insert into homegym_review (h_id, memberId,
		borrowerId, borrowerName, hr_score, hr_content)
		values (#{hId},
		#{memberId}, #{borrowerId}, #{borrowerName}, #{hrScore}, #{hrContent})
	</insert>

	<select id="read"
		resultType="com.homegym.biz.homegym.HomegymReviewVO">
		select *
		from homegym_review
		where review_id = #{reviewId}
	</select>

	<select id="getList"
		resultType="com.homegym.biz.homegym.HomegymReviewVO">
		select *
		from homegym_review
		where h_id = #{hId}
		order by review_id asc
	</select>

	<select id="getListWithPaging"
		resultType="com.homegym.biz.homegym.HomegymReviewVO">
		select hr.*, m.image as imagePath
		from homegym_review as hr
		join member as m
		on hr.borrowerId = m.memberId
		where hr.h_id = ${hId}
		order by hr.hr_updatedate desc
		LIMIT #{cri.amount} OFFSET #{cri.skip}
	</select>

	<delete id="delete">
		delete
		from homegym_review
		where review_id = #{reviewId}
	</delete>

	<delete id="deleteAll">
		delete
		from homegym_review
		where h_id = #{hId}
	</delete>

	<update id="update">
		update homegym_review
		set hr_score = #{hrScore}, hr_content = #{hrContent}, hr_updatedate =
		DEFAULT
		where review_id = #{reviewId}
	</update>

	<select id="getCount" resultType="int">
		select count(review_id)
		from
		homegym_review
		where h_id = #{hId}
	</select>

	<select id="exist" resultType="boolean">
		<![CDATA[
		select if(count(*)>0, 1, 0)
		from homegym_review
		where borrowerId = "${borrowerId}" and h_id =#{hId}
		]]>
	</select>
</mapper>